.memo__row-container {
    display: flex;
    column-gap: 24px;
    align-items: center;
    margin-block: 38px;
}

.memo-board{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1rem;
    column-gap: 1rem;
    width: min-content;
    margin-block: 2rem;
}

.memo__warning {
    color: red;
    font-size: 2rem;
}