footer {
  grid-area: footer;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 2rem;
  padding: 1.125rem;
}

.footer__description > *{
  max-width: 45rem;;
}
.footer__links {
  flex-basis: max-content;
}

.footer__links a {
  width: max-content;
}

@media (width < 42rem) {
  footer {
    flex-direction: column-reverse;
    align-items: center;
    gap: 1rem;    
  }
  .footer__description {
    text-align: center;
  }
  .footer__links {
    display: flex;    
    flex-direction: column;
    align-items: center;
  }
}

footer :is(a, p) {
  color: var(--color-white);
  text-decoration: none;
  display: flex;
  margin: 0;
}

footer a{
 text-align: right;
 width: 100%;
 display: block;
}

