.block-9-excercise-2 {
  display: flex;
  flex-direction: row;
  column-gap: 32px;;
}
.block-9-excercise-2 .wrapper{
  display: flex;
  flex-direction: column;
  row-gap: 45px;;
}

.block-9-excercise-2 .button {
  min-width: 326px;
  height: 56px;
  padding: 8px 36px;

  border-radius: 8px;
  border: 1px solid var(--primary-primary, #FE3756);
  background: var(--primary-primary, #FE3756);
  
  font-size: 18px;
  font-weight: 500;
  line-height: 31px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  transition: transform 200ms ;
}

.block-9-excercise-2 .button:hover {
  cursor: pointer;
}

.block-9-excercise-2 .button:active {
  transform: scale(0.95);
}

.block-9-excercise-2 .h1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 77; 
  margin: 0;
}

