.todo-form {
    /* width: 100%; */
    max-width: 30.5rem;
}

.todo-form__controls {
    display: flex;
    column-gap: 1.81rem;
    justify-content: flex-end;
}

.todo-form__error-message {
    color: var(--colors-actions-danger, #E12B1B);
    font-feature-settings: 'clig' off, 'liga' off;
    font-weight: 600;
    line-height: 1.6875rem;
    margin-top: -1.5rem;
    margin-bottom: 1rem;
    /* prevents jumping */
    min-height: 1.6875rem;;
}
