.todo__list {
    color: var(--gray-700, #6B7280); 
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.62rem;
    max-width: 40rem;
}

.todo__controls {
    margin: 1rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo_message {
    max-width: 25rem;
    color: var(--black-black, #000);
    text-align: center;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 2.125rem;
    margin: 2.25rem 0;
}

.toto__description {
    margin-block: 1rem;
    max-width: 40rem;
    display: flex;;
    justify-content: space-between;
}

.todo__plus-button {
    border: none;
    border-radius: 0.26rem;
    background-image: url('../../Images/add.svg');
    width: 1.875rem;
    height: 1.875rem;
    background-color: red;
    cursor: pointer;
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.todo__bottom-add-wrapper {    
    align-self: flex-start;
    width: 100%;
    max-width: 40rem;
    display: flex;
    justify-content: flex-end;
}