.block-9-excercise-5 .wrapper{
  display: flex;
  flex-direction: column;
  row-gap: 45px;;
}

.block-9-excercise-5 .button {
  width: 100%;
  max-width: 326px;
  height: 56px;
  padding: 8px 36px;
  border-radius: 8px;
  
  font-size: 18px;
  font-weight: 500;
  line-height: 31px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  transition: transform 200ms ;
}

.block-9-excercise-5 .button--primary {
  border: 1px solid var(--primary-primary, #FE3756);
  background: var(--primary-primary, #FE3756);
}

.block-9-excercise-5 .button--reset {
  border: 1px solid var(--secondary-secondary, #23213D);
  background: var(--secondary-secondary, #23213D);
}

.block-9-excercise-5 .button:hover {
  cursor: pointer;
}

.block-9-excercise-5 .button:active {
  transform: scale(0.95);
}

.block-9-excercise-5 .h1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 69px; /* 172.5% */
}

.block-9-excercise-5 .input {
  height: 48px;
  width: 144px;;
  padding: 8px 16px;
  border: 1px solid var(--grey-300, #C8CBD1);
  background: #FFF;
}

.block-9-excercise-5 .input:hover {
  box-shadow:0 0 4px rgba(0,0,0,0.5);
}

.block-9-excercise-5 .placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
