.header-menu {
    position: relative;
    display: flex;
    align-items: center;
}

.header-menu  :is(h4, h5) {
    margin: 0;
}

.header-menu__settings {
    margin-right: 3.3rem; 
    width: 1.625rem;
}

.header-menu__text {
    margin-left: 1rem;
}

.header-menu .header-menu__arrow {
    margin-left: 1.5rem;
    cursor: pointer;
    user-select: none;
}


@media (width < 50rem) {
    .header-menu {
        display: none;
    }
    .header-menu-visible {
        display: flex;
        position: absolute;
        top: 5.5rem;
        right: .5rem;
        background-color: white;
        border: 1px solid gray;    
        border-radius: 0.5rem;
        padding: 1.5rem;;

    }
}