.testin-box-model {
    margin: 32px;
    border: 8px dashed black;    
    padding: 16px;    
    background-color: aquamarine;    
}

.testin-box-model > div {
    background-color: white;
    color: white;
}

.display-inline span {
    /* domyślnie span ma display = inline więc to nic nie zmienia */
    display: inline; 
    background-color: yellow;
    margin: 16px;
}

.display-block span {
    display: block;
    background-color: green;
    margin: 16px;
}

.display-inline-block span {
    display: inline-block;
    background-color: plum;
    margin: 16px;
}

.display-none {
    display: none;
}

.box-sizing-border-box {
    box-sizing: border-box;

    margin: 16px;
    padding: 16px;
    border: 10px solid black;

    width: 300px;
    height: 200px;
}

.box-sizing-content-box {
    box-sizing: content-box;
    
    margin: 16px;
    padding: 16px;
    border: 10px solid black;

    width: 300px;
    height: 200px;
}

.testing-overflow {
    border: 10px solid black;
    max-height: 150px;
    /* overflow-y: hidden; */
    overflow-y: scroll;
}

.section-css-units > div {
    border: 5px solid black;
    width: 350px;
}

.css-units-px {
    padding: 32px;
}

.section-css-units {
    font-size: 24px;
}


/* M */
.css-units-em {
    padding: 2em;
}

.css-units-rem {
    padding: 2rem;
}

.css-units-percent {
    padding: 2%;
}