.mole__button {
    display: inline-block;    
    height: 56px;
    padding: 0 36px;
    border-radius: 8px;
    cursor: pointer;

    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 500;

    width: 163px;
}

.mole__button:hover {
    opacity: 0.85;    
    transition: 200ms;
}

.mole__button--primary {
    border: 1px solid var(--secondary-secondary, #23213D);
    background: var(--secondary-secondary, #23213D);
}

.mole__button--secondary {
    border: 1px solid var(--primary-primary, #FE3756);
    background: var(--primary-primary, #FE3756);
}

.mole__button--tertiary {
    border: 1px solid var(--colors-actions-danger, #E12B1B);
    background: var(--colors-actions-danger, #E12B1B);
}