.blog {
    color: var(--text-text-primary, #222);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 27px;
}

.blog h1 {
    color: var(--secondary-secondary, #23213D);
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
}

.blog-post {
    padding: 45px 61px;
    margin-bottom: 34px;
    border-radius: 8px;
    background: var(--gray-80, #F4F5F7);
}

.blog-post .blog-post-header {
    font-size: 42px;
    font-weight: 800;
    line-height: 76px; /* zamiast 56px */
    margin: 0;
}

.blog-post .date{
    font-size: 10.5px;
    line-height: 24px; 
    letter-spacing: 1.68px;
    text-transform: uppercase;
}

.blog-post q {
    font-style: italic;
}

.blog-post .quote-author {
    display: inline-block;
    font-weight: 700;
    width: 100%;    
    text-align: end;
}

.blog-post .author {
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
}

.blog-post .author-position {
    line-height: 24px; 
} 

.blog-post a {
    color: inherit;  /* uwaga */
}

/* ćwiczenia */
/* #1 
    pogrubiamy tylko linki do wp 
    (za pomocą attribute selectora)
*/
.blog-post a[href*="wp.pl"] {
    font-weight: 700;
}

/* #2
    wszystkie odwiedzone linki
    kolorujemy na zielono
*/
.blog-post a:visited {
    color: green;
}

/* #3
    kursor po najechaniu na każdy post 
    i inny na ostatni post 
*/
.blog-post {
    cursor: pointer;
}

.blog .blog-post:last-child {
  cursor: crosshair;
}

/* #4
    dodajemy oddzielne style
    dla pierwszego postu
 */

.blog-post:nth-child(2) {
    background-color: var(--secondary-secondary, #23213D);
    color: white;
}

 /* #5
    dodajemy box-shadow on hover
    https://cssgenerator.pl/box-shadow-generator
 */

 .blog-post:hover {
    box-shadow: 0px 65px 30px 0px rgba(0, 0, 0, 0.01), 0px 8px 20px 0px rgba(0, 0, 0, 0.04), 0px 17px 35px 0px rgba(0, 0, 0, 0.05), 0px -4px 26px 0px rgba(0, 0, 0, 0.08);
 }

 /* 
    #6
    w najechanym elemencie (hover)
    data się centruje i powiększa
  */
  .blog-post {
    overflow: hidden;
  }

  .blog-post:hover .date {
    transform: scale(1.5) translateX(45%);
    transition: transform 500ms ease-in-out;
  }
